{% extends 'base.html' %}

{% block content %}
<body class="text-center">
    {{ context }}
    <main class="form-signin">
    <form method="POST">{% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please login</h1>
    
        <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="username">
        <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
    </main>    
    </body>
{% endblock content %}